/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.startForm{
  width:250px;
  min-height:20px;
  background-color:#b0c4de;		
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}

.resultTable{
  width:550px;
  min-height:50px;
  background-color:#b0c4de;		
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    position: fixed;
  left: 50%;
  margin-left: -275px;
}

.formElement{
	position:relative;
	left:15px;	
}
	

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
